{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "indent": [2],
    "func-names": [0],
    "react/prefer-stateless-function": 0,
    "react/wrap-multilines": 0,
    "global-require": 0,
    "comma-dangle": 0,
    "new-cap": 0,
    "curly": 0,
    "arrow-body-style": 0,
    "default-case": 0,
    "react/jsx-no-bind": 0,
    "no-use-before-define": 0,
    "max-len": 0
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "console": false,
    "describe": false,
    "it": false,
    "module": false,
    "process": false,
    "require": false,
    "window": false
  },
  "plugins": [
    "react"
  ]
}
